@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

// Style the statistics row so that the with is the same as the graph/table area.
// So that the the background color of the two elements "match".
.statistics-row {
  margin-right: 0;
  margin-left: 0;
}
@include media-breakpoint-up(lg) {
  .statistics-row {
    margin-left: 2px;
  }
}
