<div class="container mb-3">
  <div class="row">
    <div class="col-md-3 mb-2">
      <div class="btn-group btn-group-toggle d-flex">
        <input type="checkbox" class="btn-check" [checked]="sensorType === 'temperatuur'">
        <label class="btn btn-outline-secondary w-100" [ngClass]="{'active': sensorType === 'temperatuur'}"
               (click)="setSensorType('temperatuur')">
          <i class="fas fa-thermometer-half" aria-hidden="true"></i> &#8451;
        </label>

        <input type="checkbox" class="btn-check" [checked]="sensorType === 'luchtvochtigheid'">
        <label class="btn btn-outline-secondary w-100" [ngClass]="{'active': sensorType === 'luchtvochtigheid'}"
               (click)="setSensorType('luchtvochtigheid')">
          <i class="fas fa-tint" aria-hidden="true"></i> %
        </label>
      </div>
    </div>
    <div class="col-md-3 mb-2">
      <select class="form-select" name="sensor" (change)="sensorChanged()" [(ngModel)]="sensorCode">
        <option *ngFor="let _sensor of sensors" [value]="_sensor.code">{{_sensor.omschrijving}}</option>
      </select>
    </div>
    <div class="col-md-3 mb-2">
      <home-date-navigator mode="year" [selectedDate]="year" (navigation)="yearPickerChanged($event)" class="input-group"></home-date-navigator>
    </div>
    <div class="col-md-3">
      <select class="form-select form-control" id="limit" name="limit" (change)="limitChanged()" [(ngModel)]="limit">
        <option *ngFor="let _limit of [5, 10, 25, 50, 100]" [value]="_limit">{{ _limit }}</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-6 mb-2">
    <div class="card">
      <div class="card-header">
        <h3><i class="fas fa-arrow-down text-info" aria-hidden="true"></i> Laagst gemeten</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
            <tr>
              <th class="text-end"></th>
              <th class="text-end">Datum/tijd</th>
              <th class="text-end text-capitalize">{{sensorType}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let klimaat of lowestKlimaats; let index = index" (click)="navigateToDetailsOfDate(klimaat.dateTime)" class="clickable">
              <td class="text-end">{{ index + 1 }}.</td>
              <td class="text-end">{{ klimaat.dateTime.toDate() | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
              <td class="text-end">{{ klimaat[sensorType] | number: getDecimalFormat(sensorType) }}{{ getValuePostFix(sensorType) }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3><i class="fas fa-arrow-up text-danger" aria-hidden="true"></i> Hoogst gemeten</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
            <tr>
              <th class="text-end"></th>
              <th class="text-end">Datum/tijd</th>
              <th class="text-end text-capitalize">{{sensorType}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let klimaat of highestKlimaats; let index = index" (click)="navigateToDetailsOfDate(klimaat.dateTime)" class="clickable">
              <td class="text-end">{{ index + 1 }}.</td>
              <td class="text-end">{{ klimaat.dateTime.toDate() | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
              <td class="text-end">{{ klimaat[sensorType] | number: '1.2-2' }}{{ getValuePostFix(sensorType) }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
